/****************************************
*
*   GLOBAL
*
****************************************/
html, body {
  background-color: #21232b;
  color: #ddd;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

h1 {
  font-size: 3.5em;
  font-weight: 300;
  margin-bottom: 30px;
}

h2 {
  color: #43BADD;
  font-size: 1.15em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 auto 50px auto;
}

p {
  font-size: 1.8em;
  text-align: center;
  line-height: 1.5em;
}

strong {
  font-weight: 400;
}

.container {
  width: 65%;
  margin: auto;
  overflow: hidden;
}

.slide h1, .slide p {
  text-align: left;
}

.button {
  text-decoration: none;
  color: #fff;
  padding: 25px 45px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: 0.4s;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 50px auto 0 auto;
}

.button:hover {
  color: #000;
  background-color: #fff;
  transition: 0.4s;
}

.arrow {
  box-sizing: content-box;
  padding: 3px;
  position: absolute;
  bottom: 50px;
  right: 60px;
  width: 10px;
  height: 10px;
  border-left: solid 2px #43BADD;
  border-bottom: solid 2px #43BADD;
  transform: rotate(-45deg);
  transition: 0.5s;
}

.arrow:hover {
  border-left: solid 2px #00465F;
  border-bottom: solid 2px #00465F;
}

.up {
  bottom: 40px;
  right: 60px;
  transform: rotate(-225deg);
  transition: 0.5s;
}

.up:hover {
  transition: 0.5s;
}

/****************************************
*
*   CUSTOM
*
****************************************/

/* LANDING PAGE STYLING */

#landing-page #ITMA-logo {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#landing-page h2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  color: #43BADD;
  font-size: 1.5em;
}

#landing-page h2 strong {
  color: #00465F;
  font-weight: 900;
}

/* ABOUT US PAGE STYLING */

#about-us {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* FEATURES PAGE STYLING */

#features p {
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.7);
}

#features .content-wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
}

#features .item {
  display: inline-block;
}

#features .item.left {
  float: left;
  width: 50%;
}

#features .item.right {
  float: right;
  width: 45%;
  height: 100%;
  right: 0;
  display: table-cell;
  position: absolute;
}

#features .item.right img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #fff;
}

/* CLIENTS PAGE STYLING */

#clients-logo {
  margin-bottom: 20px;
}

#clients-logo img {
  width: 40vh;
  height: 100%;
  margin: auto 25px 20px 25px;
}


/* CONTACTS PAGE STYLING */

#contacts {
  background-image: url('../images/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#contacts-content-mail {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 4em;
  letter-spacing: 5px;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

#contacts-content-mail::after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#contacts-content-mail:hover::after {
  width: 100%;
  background-color: #fff;
}

#contacts-content h3 {
  color: #43BADD;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 auto 15px auto;
}

#contacts-content-hotline {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2em;
}

/* CONTACTS SOCIAL LINKS */

#contacts-social-links {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#contacts-social-links a {
  font-size: 28px;
  padding: 0 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
