/****************************************
*
*   GLOBAL
*
****************************************/
html, body {
  background-color: #181a1f;
  color: #ddd;
  text-align: center;
  font-family: "Lato";
  font-weight: 300;
  overflow: hidden;
}

a {
  display: inline-block;
  color: #rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.8em;
  text-align: center;
  line-height: 1.5em;
  width: 65%;
}

strong {
  font-weight: 400;
}

.container {
  width: 65%;
  margin: auto;
  overflow: hidden;
}

/****************************************
*
*   CUSTOM
*
****************************************/

/* NAVIGATION LIST MENU STYLING */
nav {
  font-weight: 300;
  font-size: 0.95em;
  text-align: left;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 100px;
  transform: translateX(-50%) translateY(-50%);
}

nav li {
  margin: 18px auto 18px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* LANDING PAGE STYLING */
#landing-page #ITMA-logo {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#landing-page h2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  font-size: 1.3em;
}

#landing-page h2 strong {
  color: #f00;
  font-weight: 900;
}


/* ABOUT US PAGE STYLING */
#about-us-button {
  text-decoration: none;
  color: #fff;
  padding: 25px 45px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: 0.4s;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#about-us-button:hover {
  color: #000;
  background-color: #fff;
  transition: 0.4s;
}


/* FEATURES PAGE STYLING */
#features {
  /* TODO:  */
}


/* CLIENTS PAGE STYLING */
#clients-logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
}

#clients-logo img {
  width: 40vh;
  height: 100%;
}

#clients-logo #left {
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translateX(-50%) translateY(-50%);
}

#clients-logo #right {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translateX(-50%) translateY(-50%);
}


/* CREDITS PAGE STYLING */
#credits-logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 45%;
}

#credits img {
  width: 40vh;
  height: 100%;
}

.position {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

#credits .top {
  top: 30%;
}

#credits .bottom {
  top: 45%;
}

#credits #left {
  left: 38%;
}

#credits #right {
  left: 62%;
}


/* CONTACTS PAGE STYLING */
#contacts-content h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  letter-spacing: 2px;
}

#contacts-content-mail {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-weight: 300;
  font-size: 4em;
  letter-spacing: 3px;
}

#contacts-content-tel {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#contacts-content-tel h2 {
  color: #ff6347;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#contacts-content-tel a {
  text-decoration: none;
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.9);
}

#contacts-social-links {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#contacts-social-links a {
  font-size: 28px;
  padding: 0 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
